@import "breakpoints.scss";

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 60px 125px 60px;

  &__title {
    width: 520px;
    height: 72px;

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 60px;
      text-transform: uppercase;
    }

    &-line {
      width: 80px;
      height: 2px;
      background: #1968fc;
      box-shadow: 0px 2px 0px #d1e1fe;
    }
  }

  &__cards {
    margin-top: 48px;

    .features__card {
      position: relative;
      background: #fff;
      box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
      width: 520px;
      height: 200px;
      margin-bottom: 60px;

      .logo {
        margin-bottom: 30px;

        &__image {
          width: 80px;
          height: 80px;
          margin-right: 20px;
        }

        &__name {
          display: flex;
          align-items: center;

          width: 400px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 40px;
          color: #11223f;
        }
      }

      .features__text {
        display: flex;
        width: 440px;
        height: 60px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        margin: 0 40px 30px 40px;
      }

      .features__juju {
        position: absolute;
        top: 180px;
        left: 500px;
      }
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

@include for-large-screens {
  .features {
    position: relative;
    display: block;
    width: 1165px;
    height: 495px;
    margin: 0 155px 115px 120px;

    &__title {
      width: 1120px;
      height: 60px;

      &-text {
        margin-left: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 60px;
        text-transform: uppercase;
      }

      &-line {
        left: 0;
        width: 80px;
        height: 2px;
        background: #1968fc;
        box-shadow: 0px 2px 0px #d1e1fe;
      }
    }

    &__cards {
      display: flex;
      margin-top: 38px;
      margin-left: 40px;

      .features__card {
        width: 320px;
        height: 290px;

        &__title {
          padding: 40px 0 20px 40px;

          .features__card-description {
            width: 200px;
            height: 40px;
          }
        }

        .features__text {
          display: flex;
          width: 240px;
          height: 60px;
        }

        .features__juju {
          position: absolute;
          top: 270px;
          left: 300px;
        }

        .logo {
          margin-bottom: 40px;

          &__image {
            width: 120px;
            height: 120px;
            margin-right: 20px;
          }

          &__name {
            display: flex;
            align-items: center;

            width: 280px;
            font-style: normal;
            font-size: 20px;
            line-height: 30px;
            color: #11223f;
          }
        }
      }
    }
  }

  .features__card:nth-child(1) {
    position: absolute;
    top: 120px;
    left: 40px;
  }

  .features__card:nth-child(2) {
    position: absolute;
    top: 160px;
    left: 434px;
  }

  .features__card:nth-child(3) {
    position: absolute;
    top: 200px;
    left: 840px;
  }
}
